.section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;

  @include for-tabletS {
    min-height: 100vh;
    overflow-y: auto;
  }

  @include for-phoneL {
    // height: 100vh;
  }
}
